# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
.venv/
env/

# Environment variables
.env
.env.local
.env.*.local

# IDE
.vscode/
.idea/

# Distribution / Packaging
dist/
build/
*.egg-info/
